# --- Python / Backend ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.pytest_cache/
.coverage
htmlcov/

# --- React / Frontend ---
node_modules/
dist/
dist-ssr/
.vite/
.npm/
.eslintcache

# --- Data & Local Storage ---
# Since you have MinIO and Postgres data folders
/data/minio/*
/data/postgres/*
/data/airflow_db/*
!/data/.keep

# --- Airflow ---
/services/airflow/logs/*
!/services/airflow/logs/.keep
airflow-webserver.pid
airflow-scheduler.pid
airflow-triggerer.pid

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- dbt ---
target/
dbt_packages/
dbt_modules/
logs/
dbt_test__audit.csv

# --- Build & Compiled ---
*.pyc
*.pyo
*.pyd
.Python